@import '../../../../scss/variables.scss';

.container-card{
    cursor: pointer;
}
.container-stories{
    align-items: center;
    justify-content: center;
}

.container-divider {
    margin-bottom: 15px;
    margin-top: 15px;
}