<mat-grid-list cols="1" *ngIf="!character; else detailedCharacter">
    <mat-spinner></mat-spinner>
</mat-grid-list>

<ng-template #detailedCharacter >
    <div>
        <div class="container-card" [routerLink]="['/marvel']">
            <app-search-results></app-search-results>
        </div>
    </div>
    
    <div class="container-divider">
        <mat-divider></mat-divider>
    </div>

    <div class="container-stories">
        <app-stories></app-stories>
    </div>
    
    <div class="container-divider">
        <mat-divider></mat-divider>
    </div>
</ng-template>