<h1>Character finder</h1>
<mat-divider></mat-divider><br>

<div class="container-input">
    <mat-form-field class="search-input">
        <mat-label>
            Character
        </mat-label>
        <input
            type="text"
            placeholder="Example: Thor"
            matInput
            [(ngModel)]="term"
            (input)="searchCharacters( term )"
        >
    </mat-form-field>

    <mat-form-field class="search-input">
        <mat-label>
            Limit
        </mat-label>
        <input
            type="number"
            placeholder="Example: 4"
            matInput
            (input)="searchCharacters( term )"
            [(ngModel)]="limit"
        >
    </mat-form-field>
</div>

<app-search-results></app-search-results>