<h1>Character finder</h1>
<mat-divider></mat-divider><br>

<div class="container-input">
    <mat-form-field class="search-input">
        <mat-label>
            Character
        </mat-label>
        <input
            type="text"
            placeholder="Example: Thor"
            matInput
            [matAutocomplete]="auto"
            [(ngModel)]="term"
            (input)="searchCharacters()"
        >
        <mat-autocomplete 
            autoActiveFirstOption 
            #auto="matAutocomplete"
        >
            <mat-option value="" *ngIf="characters.length === 0 && term.length > 0">
                Nothing was found for the term {{ term }}.
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="search-input">
        <mat-label>
            Limit
        </mat-label>
        <input
            type="number"
            placeholder="Example: 4"
            matInput
            [matAutocomplete]="auto"
            (input)="searchCharacters()"
            [(ngModel)]="limit"
        >
        <mat-autocomplete 
            autoActiveFirstOption 
            #auto="matAutocomplete"
        >
            <mat-option value="">
                Invalid limit.
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<app-search-results
    [result]="characters"
></app-search-results>