<h1>Character finder</h1>
<mat-divider></mat-divider><br>

<form 
    [formGroup]="searchForm" 
    class="container-input" 
    (input)="saveForm( $event )"
>
    <mat-form-field class="search-input">
        <mat-label>
            Character
        </mat-label>
        <input
            type="text"
            placeholder="Example: Thor"
            matInput
            formControlName="term"
        >
        <div
            *ngIf="
                searchForm.get('term')?.errors && 
                searchForm.get('term')?.touched
            "
        >
            <small>This field is required.</small>
        </div>
    </mat-form-field>

    <mat-form-field class="search-input">
        <mat-label>
            Limit
        </mat-label>
        <input
            type="number"
            placeholder="Example: 2"
            matInput
            formControlName="limit"
        >
        <div
            *ngIf="
                searchForm.get('limit')?.errors && 
                searchForm.get('limit')?.touched
            "
        >
            <small>The limit must be between 1 and 10.</small>
        </div>
    </mat-form-field>
</form>








<!-- <div class="container-input">
    <mat-form-field class="search-input">
        <mat-label>
            Character
        </mat-label>
        <input
            type="text"
            placeholder="Example: Thor"
            matInput
            [(ngModel)]="term"
            (input)="searchCharacters( term )"
        >
    </mat-form-field>

    <mat-form-field class="search-input">
        <mat-label>
            Limit
        </mat-label>
        <input
            type="number"
            placeholder="Example: 4"
            matInput
            (input)="searchCharacters( term )"
            [(ngModel)]="limit"
        >
    </mat-form-field>
</div> -->

<app-search-results></app-search-results>